@model Restaurant

@{
    ViewBag.Title = Model.Name;
}
<h1>@Model.Name</h1>
<h2>@Model.ID</h2>
<h2>@Model.Cuisine</h2>

<h4>......Detail.....</h4>

<a asp-action="Index" asp-controller="Home">Home</a>

